#middle {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-items: center;
}

#noteApp {
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

#searchForm {
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 7px;
    font-weight: 900;
    border: 2px solid black;
}

#box {
    box-shadow: 0 0 10px rgb(155, 75, 75);
    border-radius: 5px;
}

.addbtn {
    width: 100px;
}

.formArea {
    padding-bottom: 150px;
    border: none;
}

.formArea:focus {
    border: none;
    outline: none;
}

#ColorArea {
    position: relative;
}

input[type="radio"] {
    visibility: hidden;
}

#redColNew::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    top: 0;
    left: -25px;
}

#redCol:checked+#redColNew::before {
    box-shadow: inset 0px 0px 0px 5px white;
}

#purpleColNew::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: purple;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    top: 0;
    left: 5px;
}

#purpleCol:checked+#purpleColNew::before {
    box-shadow: inset 0px 0px 0px 5px white;
}

#yellowColNew::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    top: 0;
    left: 35px;
}

#yellowCol:checked+#yellowColNew::before {
    box-shadow: inset 0px 0px 0px 5px white;
}

#blueColNew::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    top: 0;
    left: 65px;
}

#blueCol:checked+#blueColNew::before {
    box-shadow: inset 0px 0px 0px 5px white;
}

#greenColNew::before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: green;
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 1px solid black;
    cursor: pointer;
    top: 0;
    left: 95px;
}

#greenCol:checked+#greenColNew::before {
    box-shadow: inset 0px 0px 0px 5px white;
}